<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- we can control the log level of our unit tests -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.opentripplanner.client" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>