<configuration>

  <!--
    This suppresses the meta-log entries about Logback configuration (how Java).
    This is a stopgap measure.
    The right solution is to make sure there are not logback.xml files from our dependency libraries on the classpath.
   -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- print out file and line number in parenthesis, which Eclipse and IDEA will link -->
      <pattern>%d{HH:mm:ss.SSS} %highlight([%level]) \(%F:%L\) %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Change this to debug to let more messages through. -->
  <root level="info">
    <appender-ref ref="stdout" />
  </root>

</configuration>
