name: CI

on:
  - push
  - pull_request

env:
  # maven default arguments to make the log quieter and colourful
  MAVEN_ARGS: "--no-transfer-progress -Dstyle.color=always"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn spotless:check test
